/* Navigation bar */
.navbar {
    font-family: 'Philosopher', sans-serif;
    margin: 0 40px;
}

.navbar a {
    color: #D6B5C0;
    text-decoration: none;
}

.navbar a:hover {
    color: #D6B5C0; 
}

.navbar p {
    font-size: 16px;
    color: #D6B5C0;
    margin-top: 20px;
}

.navbar img {
    padding-right: 8px;
}
/* end of Navigation bar */

/* Navigation bar-dark */
.navbar-dark {
    font-family: 'Philosopher', sans-serif;
    margin: 0 40px;
}

.navbar-dark a {
    color: #222;
    text-decoration: none;
}

.navbar-dark a:hover {
    color: #222;
}

.navbar-dark p {
    font-size: 16px;
    color: #222;
    margin-top: 20px;
}

.navbar-dark img {
    padding-right: 8px;
}
/* end of Navigation bar-dark */