/* View */
body {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 80px;
}


/* Font */
main p {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 16px;
    text-align: left;
    width: 60%;
}

main h1 {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 40px;
}

main h2 {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 16px;
}

main a {
    font-family: 'Philosopher', sans-serif;
    color: #222;
}

main a:hover {
    color: #345A46;
}


/* Form */
#regForm {
    background-color: #fff;
    font-family: 'Philosopher', sans-serif;
    margin: auto;
    padding: 40px;
    width: 100%;
    min-width: 300px;
}

.tab {
    margin-bottom: 40px;
    font-weight: bold; 
    font-size: 22px;
    justify-content: center;
}

.container-fluid {
    padding-top: 40px;
}

/* Style the buttons */
#nextBtn {
    background-color: #345A46;
    border-color: #345A46;
}

#prevBtn {
    background-color: #fff;
    border-color: #345A46;
    color: #345A46;
}
  
/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #717171;
}
  
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
  
/* Hide all steps by default: */
.tab {
    display: none;
    justify-content: center;
}
  
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
/* Mark the active step: */
.step.active {
    opacity: 1;
}
  
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #345A46;
}
  