/* Survey style */

:root {
    --background-dim: #fff;
    --font-family: 'Lato', sans-serif;
    --primary: #345A46;
}

:root h4 {
    --font-family: 'Philosopher', sans-serif;
}


/* Survey position */

#surveyContainer {
    margin-top: 120px;
}