/* Background picture */

body {
    background-image: url("../assets/welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

main {
    flex: 1;
    padding-bottom: 0;
    justify-self: center;
    align-self: center;
}


/* Fonts */

h1 {
    color: #fff;
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
    text-align: center;
}

.highlight {
    color: #6dae47;
}

.description {
    color: #fff;
    opacity: 0.6;
}


/* The two steps instruction */

.card {
    background-color: transparent;
    border-color: transparent;
    width: 60%;
    margin: auto;
}

.card p {
    text-align: left;
}

.card img {
    height: 120px;
    margin-bottom: 16px;
}


/* The start button */

.btn {
    font-family: 'Philosopher', sans-serif;
    color: #345A46;
    font-size: 18px;
    font-weight: bold;
    margin: 16px;
}