/* Background picture */

body {
    background-image: url("../assets/welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

main {
    margin: 80px;
    flex: 1;
    justify-self: center;
    align-self: center;
}


/* Fonts */

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 28px;
}

h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 28px;
}

.card p {
    color: #fff;
    text-align: left;
    max-width: 300px;
    margin: auto;
}

.highlight {
    color: #6dae47;
}

#policy {
    font-size: 14px;
    color: #fff;
    opacity: 0.6;
    text-align: center;
    max-width: 480px;
    margin: auto;
}


/* The two steps instruction */

.card {
    background-color: transparent;
    border-color: transparent;
    max-width: 400px;
    margin: auto;
}

.card img {
    height: 120px;
    margin-bottom: 16px;
}

#step {
    text-align: -webkit-center;
}

.description {
    color: #fff;
    opacity: 0.6;
}


/* The start button */

.btn {
    font-family: 'Lato', sans-serif;
    color: #345A46;
    font-size: 18px;
    font-weight: bold;
    margin: 16px;
}