/* Title */
#pageTitle {
    text-align: center;
}

#cardTitle {
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;
}

#subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #222;
}


/* Cards */

.totalDemand, .totalSupply, .totalDisplay {
    display: flex;
    justify-content: space-between;
}

.totalDisplay h2 {
    margin-top: 10px;
}

.totalCost {
    font-family: 'Lato', sans-serif;
    position: sticky;
    bottom: 0;
}

.total {
    margin-top: 40px;
}

.card {
    padding: 24px 24px 0 24px;
}

/* Color squares */

.foo {
    float: left;
    width: 8px;
    height: 8px;
    margin: 4px;
}

    .heating {
        background: #A78067;
    }
    .cooling {
        background: #E2E2E2;
    }
    .appliance {
        background: #ADA3A3;
    }
    .hotwater {
        background: #DDB9A1;
    }
    .pv {
        background: #6DAE47;
    }

    .legend {
        display: flex;
        align-items: baseline;
    }

hr {
    color: #dddddd;
    margin-top: 10px;
}

#curNotHP, #simuNotHP {
    display: none;
    font-size: 12px;
    margin-top: 10px;
}


/* Tab 

.tab {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 16px;
    overflow: hidden;
    background-color: #ebebeb;
    width: max-content;
    border-radius: 40px;
    padding: 4px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}*/
  
/* Style the buttons inside the tab 
.tab button {
    background-color: #ebebeb;
    float: left;
    border: none;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    padding: 8px 60px;
    transition: 0.3s;
    font-size: 14px;
}*/
  
/* Create an active/current tablink class 
.tab button.active {
    background-color: #fff;
}*/
  
/* Style the tab content 
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}*/
  
/* Fade in tabs 
    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
  
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }*/
  

/* Current card */

#cur {
    background-color: #f9f9f9; 
    border-radius: 12px;
    height: auto;
    }


    /* Current configuration */

    .config {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color: #222;
        line-height: 2;
    }


    /* Check & uncheck icons */

    .bi-check2 {
        margin-right: 8px;
        display: none;
    }

    .bi-x {
        margin-right: 8px;
        display: none;
    }


/* Simulate card */

#simu {
    border-style: solid; 
    border-radius: 12px; 
    border-color: #dddddd;
    height: auto;
}

    /* Simulated configuration */

    .accordion-header {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 14px;
        padding-left: 36px;
    }

    .accordion {
        --bs-accordion-active-color: #222;
        --bs-accordion-btn-focus-border-color: none;
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-active-bg: none;
    }

    .accordion-item h2 {
        font-family: 'Lato', sans-serif;
        margin-top: 0;
        color: #222;
    }

    .form-check {
        display: flex;
        align-items: center;
    }

    .form-floating, .form-select {
        margin-top: 10px;
    }

    .totalCost .btn {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color: #345A46;
        border: solid;
        border-color: #345A46;
        background-color: #fff;
        margin-bottom: 8px;
    }

    .form-check-input:checked {
        background-color: #222;
        border-color: #222;
    }

    .form-check-input:focus {
        border-color: none;
        box-shadow: none;
    }


/* Education card */

.edu {
    background-color: #345A46;
    border-radius: 12px;
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    padding: 24px;
}

.edu p {
    color: #fff;
    width: 100%;
    margin: 0;
}

.edu svg {
    float: right;
}

a {
    text-decoration: none;
}