/* Title */
h1.title {
    text-align: center;
}

/* Cards */

/* Tab */
.tab {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 16px;
    overflow: hidden;
    background-color: #ebebeb;
    width: max-content;
    border-radius: 40px;
    padding: 4px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: #ebebeb;
    float: left;
    border: none;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    padding: 8px 60px;
    transition: 0.3s;
    font-size: 14px;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #fff;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
  
/* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
  
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
  

/* current card */
#cur {
    background-color: #f9f9f9;
    border-radius: 12px;
    height: fit-content;
    padding: 24px;
    margin: 0 20px 40px 0;
}

.totalDemand, .totalSupply, .totalCost {
    display: flex;
    justify-content: space-between;
}

.totalCost {
    position: sticky;
    bottom: 0;
}

.total {
    margin-top: 20px;
}

hr {
    color: #dddddd;
}

/* color squares */
.foo {
    float: left;
    width: 8px;
    height: 8px;
    margin: 4px;
}
 .heating {
    background: #A78067;
 }
 .cooling {
    background: #E2E2E2;
 }
 .appliance {
    background: #ADA3A3;
 }
 .hotwater {
    background: #DDB9A1;
 }
 .pv {
    background: #6DAE47;
 }

.legend {
    display: flex;
}


/* simulate card */
#simu {
    background-color: #fff;
    border-style: solid;
    border-radius: 12px;
    border-color: #dddddd;
    height: fit-content;
    padding: 24px;
    margin: 0 0 40px 20px;
}

/* Educate */
.edu {
    background-color: #345A46;
    border-radius: 12px;
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    padding: 24px;
}

.edu p {
    color: #fff;
    width: 100%;
    margin: 0;
}

.edu svg {
    float: right;
}

a {
    text-decoration: none;
}