@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Page View */
body {
    position: relative;
    min-height: 100vh;
}

main {
    padding-top: 120px;
    padding-bottom: 120px;
}

#homepage, #form {
    padding-top: 0;
    padding-bottom: 0;
}


/* Fonts */

h1 {    /* Title */
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 24px;
}

h2 {    /* Subtitle in policy and education text */
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

h3 {    /* Names of the contacts */
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 20px;
    text-align: left;
}


p {
    font-family: 'Lato', sans-serif;
    color: #222;
    font-size: 16px;
    text-align: left;
}

a {
    font-family: 'Lato', sans-serif;
    color: #222;
}

a:hover {
    color: #345A46;
}

em {
    font-family: 'Philosopher', sans-serif;
    color: #222;
}

li {
    font-family: 'Lato', sans-serif;
    color: #345A46;
}

i {
    margin-right: 8px;
}


/* Navigation Bar */
.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-brand {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
}


/* Main Navbar */
.navbar .container {
    align-items: baseline;
}

.navbar a {
    color: #D6B5C0;
    text-decoration: none;
}

.navbar a:hover {
    color: #D6B5C0; 
}

.navbar p {
    font-size: 16px;
    color: #D6B5C0;
}

.navbar img {
    padding-right: 8px;
}


/* General Navbar */
.navbar-dark .container {
    align-items: baseline;
    background-color: #fff;
}

.navbar-dark a {
    color: #222;
    text-decoration: none;
}

.navbar-dark a:hover {
    color: #222;
}

.navbar-dark p {
    font-size: 16px;
    color: #222;
}

.navbar-dark img {
    padding-right: 8px;
}


/* Main Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} 

.footer ul {
    text-align: left;
    font-size: 14px;
}

.footer li {
    padding: 0 10px;
}

.footer a {
    color: #D6B5C0;
    text-decoration: none;
    margin-left: 10px;
}

.footer a:hover {
    color: #fff; 
}


/* General Footer */
.footer-dark {
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.footer-dark ul {
    text-align: left;
    font-size: 14px;
}

.footer-dark a {
    color: #222;
    text-decoration: none;
    margin-left: 10px;
}

.footer-dark a:hover {
    color: #345A46; 
}


/* Contact Page */
#contactCard {  /* Contact cards */
    border-style: none;
}

#textTitle {
    margin-top: 40px;
}