@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Page View */

body {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 120px;
}


/* All Fonts */

h1 {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 24px;
}

h2 {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 16px;
    text-align: left;
}

p {
    font-family: 'Philosopher', sans-serif;
    color: #222;
    font-size: 14px;
    text-align: left;
}

a {
    font-family: 'Philosopher', sans-serif;
    color: #222;
}

a:hover {
    color: #345A46;
}

em {
    font-family: 'Philosopher', sans-serif;
    color: #222;
}

li {
    font-family: 'Philosopher', sans-serif;
    color: #345A46;
}


/* Main Navigation Bar */

.navbar {
    font-family: 'Philosopher', sans-serif;
    margin: 0 40px;
}

.navbar a {
    color: #D6B5C0;
    text-decoration: none;
}

.navbar a:hover {
    color: #D6B5C0; 
}

.navbar p {
    font-size: 16px;
    color: #D6B5C0;
    margin-top: 20px;
}

.navbar img {
    padding-right: 8px;
}


/* General Navigation Bar */

.navbar-dark {
    font-family: 'Philosopher', sans-serif;
    margin: 0 40px;
    background-color: #fff;
}

.navbar-dark a {
    color: #222;
    text-decoration: none;
}

.navbar-dark a:hover {
    color: #222;
}

.navbar-dark p {
    font-size: 16px;
    color: #222;
    margin-top: 20px;
}

.navbar-dark img {
    padding-right: 8px;
}

.container-fluid {
    padding-top: 0;
}


/* Main Footer */

footer {
    padding: 10px;
    font-family: 'Philosopher', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
} 

.footer ul {
    text-align: left;
    font-size: 14px;
}

.footer li {
    padding: 0 10px;
}

.footer a {
    color: #D6B5C0;
    padding: 0 8px;
    text-decoration: none;
}

.footer a:hover {
    color: #fff; 
}


/* General Footer */

footer-dark {
    padding: 10px;
    font-family: 'Philosopher', sans-serif;
}

.footer-dark {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
}

.footer-dark ul {
    text-align: left;
    font-size: 14px;
}

.footer-dark li {
    padding: 0 10px;
}

.footer-dark a {
    color: #222;
    padding: 0 8px;
    text-decoration: none;
}

.footer-dark a:hover {
    color: #345A46; 
}


/* Content View */

#extra {
    margin-top: 120px;
    margin-left: 120px;
}

#content {
    margin-top: 120px;
}